<!DOCTYPE html>

<html>



<head>
    <%- include ("../includes/header.ejs") %>
</head>



<body>
    <%- include ("../includes/nav.ejs") %>

        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>
            
            <br/<br/><br/<br/>
            
            <form action="/prove10/add-avenger" method="POST">
                Name<input type="text" name="name">
                Super Power<input type="text" name="power">
                <button type="submit">Add Avenger</button>
            </form>
            
            <br/<br/><br/<br/>

            <table style="margin-left: auto; margin-right: auto; text-align: left;">
                <tr>
                  <th>Name</th>
                  <th>Super Power</th>
                </tr>
                <% for (const avenger of avengers) {%>
                    <tr>
                        <td><h4><%=avenger.name %></h4></td>
                        <td></td>
                        <td><h4><%=avenger.power %></h4></td>
                    </tr>
                <% } %>
              </table>








        </div>



</body>



</html>